.search-modal-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 300ms ease-in-out;
  &:not(.show) {
    opacity: 0;
    pointer-events: none;
    .search-modal{
      transform: translateY(-100px);
    }
  }
  .search-modal {
    display: inline-flex;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    transform: none;
    transition: transform 300ms ease-in-out;
  }
}

.search-container {
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 600px;
  input {
    border: 1px solid #aaa;
    border-right: none;
    border-radius: 0.5rem 0 0 0.5rem;
    height: 100%;
    padding: 0.5rem 1rem;
    flex-grow: 1;
    background-color: #393e46;
    color: white;
    &::placeholder {
      color: white;
    }
    &::-moz-placeholder {
      color: white;
    }
    &:-ms-input-placeholder {
      color: white;
    }
    &::-ms-input-placeholder {
      color: white;
    }
    &:focus {
      box-shadow: none;
      outline: none;

      border-bottom-left-radius: 0;

      + .search-icon {
        border-bottom-right-radius: 0;
      }
    }
  }

  .search-icon {
    color: white;
    border: 1px solid #aaa;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: #393e46;
    height: 100%;
    padding: 0 1rem;
    display: grid;
    place-content: center;
    cursor: pointer;
  }
}

.icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .c-badge {
    font-size: 0.7em;

    position: absolute;
    top: -0.2rem;
    left: 50%;
  }
}

.navlink-white {
  color: #bbb;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.menu-container {
  width: 200%;
  display: flex;
  transition: 300ms ease-in-out;
  .menu {
    width: 100%;
  }
}
.show-next-menu {
  transform: translateX(-50%);
}
