// .search-modal-wrapper {
//   position: fixed;
//   inset: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
//   transition: opacity 300ms ease-in-out;
//   &:not(.show) {
//     opacity: 0;
//     pointer-events: none;
//     .search-modal{
//       transform: translateY(-100px);
//     }
//   }
//   .search-modal {
//     display: inline-flex;
//     background-color: white;
//     padding: 1rem;
//     border-radius: 0.5rem;
//     transform: translateY(100px);
//     transition: transform 300ms ease-in-out;
//   }
// }

.search-modal {
  .modal-content {
    border: none !important;
    background-color: transparent !important;
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  overflow: hidden;

  .search-input {
    display: flex;
    font-size: 1.5rem;
    width: 100%;

    input {
      height: 100%;
      padding: 0.75rem 1rem;
      flex-grow: 1;
      background-color: #212529;
      color: white;
      border: none;
      &::placeholder {
        color: #ffffff66;
      }
      &::-moz-placeholder {
        color: #ffffff66;
      }
      &:-ms-input-placeholder {
        color: #ffffff66;
      }
      &::-ms-input-placeholder {
        color: #ffffff66;
      }
      &:focus {
        box-shadow: none;
        outline: none;
        + .search-icon {
          color: white;
        }
      }
    }
    .search-icon {
      color: #ffffff66;
      background-color: #212529;
      padding: 0 1rem;
      display: grid;
      place-content: center;
      cursor: pointer;
      margin-left: -1px;
    }
  }
  .search-menu {
    background-color: #393e46;
    color: white;
    border-radius: 0 0 0.25rem 0.25rem;

    .search-suggestions {
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem 1rem;
        text-decoration: none;
        color: white;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: hsl(217, 10%, 45%);
        }
      }
      hr {
        margin: 0;
      }
      .remove {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          color: red;
        }
      }
    }
  }
}

.icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .c-badge {
    font-size: 0.7em;

    position: absolute;
    top: -0.2rem;
    left: 50%;
  }
}

.navlink-white {
  color: #bbb;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.menu-container {
  width: 200%;
  display: flex;
  transition: 300ms ease-in-out;
  .menu {
    width: 100%;
  }
}
.show-next-menu {
  transform: translateX(-50%);
}

.main-menu {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1rem 1rem;

  background-color: white;

  .menu-link {
    color: black;
    text-decoration: none;
    width: fit-content;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}
.categories {
  a {
    padding: 0 1rem .25rem 1rem;
    border-bottom: 3px solid transparent;
  }
  .active {
    border-bottom-color: #bbb;
    color: white;
  }
}
